.header {
	height: 88px;
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	border: 2px solid #4c4cff;
	gap: 50px;
}
.navigation {
	justify-self: end;
	align-self: center;
	height: 56px;
	//width: 383px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.btns {
	justify-self: start;
	align-self: center;
	display: flex;
	align-items: center;
	height: 56px;
	padding-left: 20px;
	padding-right: 20px;
	gap: 8px;
	color: white;
	background: transparent;
}
.item {
	justify-self: center;
	align-self: center;
}
