.container {
	width: 584px;
	height: auto;
	background: #1c1c21;
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.detailes {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
