.main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.home {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.load {
	width: 100wh;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(2);
}
