.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 68px;
}
.feed {
	height: 852px;
	width: 608px;
	overflow-x: hidden;
}

.load {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(2);
}
