.container {
	height: 320px;
	width: 860px;
	display: flex;
	align-items: flex-start;
}
.inputs {
	height: 240px;
	width: 480px;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.btns {
	align-self: flex-end;
	display: flex;
	align-items: center;
}
.navigate {
	height: 320px;
	width: 320px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
.links {
	height: 192px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: space-evenly;
}
.active {
	color: white;
}
