.modal {
	background-color: #1c1c21;
	border: 1px solid #4c4cff33;
	border-radius: 40px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.info {
	gap: 20px;
}
.item {
	width: 516px;
	height: 56px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}
