.main {
	height: 912px;
	width: 600px;
	padding-top: 100px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.group {
	height: 480px;
	overflow-x: hidden;
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 16px;
}
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.total {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
.cost {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
}
