.order {
	background-color: #1c1c21;
	width: 720px;
	border: 1px solid #4c4cff33;
	border-radius: 40px;
	display: flex;
	flex-flow: column;
	align-items: center;
	position: relative;
}
.close {
	cursor: pointer;
	position: absolute;
	top: 60px;
	right: 40px;
}
.done {
	margin-top: 60px;
	height: 120px;
	width: 120px;
}
