.details {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.header {
	height: 64px;
	width: 640px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info {
	display: flex;
	align-items: center;
	gap: 20px;
}
.item {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}
.image {
	height: 240px;
}
.close {
	cursor: pointer;
}
