.group {
	width: 600px;
	overflow-y: auto;
	display: flex;
	flex-flow: column;
	gap: 16px;
}

.item {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.text {
	align-self: center;
	height: 80px;
	width: 500px;
	background: rgba(120, 120, 120, 0.51);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
