:root {
	--background: #1c1c21;
	--background-alt: #131316;
	--background-element: #2f2f37;
	--offset-base-variable: 2px;
	--offset-base-size: 4px;
	--top-constructor-item-border-radius: 88px 88px 40px 40px;
	--bottom-constructor-item-border-radius: 40px 40px 88px 88px;
	--common-border-radius: 64px;
	--common-border-radius-s: 40px;
	--text-primary-color: white;
	--text-inactive-color: #8585ad;
	--colors-interface-accent: #4c4cff;
	--colors-interface-error: #e52b1a;
	--colors-interface-success: #00cccc;
	--colors-button-inactive: #3a3a55;
	--common-transition: all 0.3s ease-in;
	box-sizing: border-box;
	min-width: 320px;
	max-width: 100%;
	margin: 0 auto;
	scrollbar-color: #2f2f37 #8585ad;
	scrollbar-width: thin;
}

a {
	color: #646cff;
	font-weight: 500;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	width: 100%;
	min-width: 320px;
	height: 100vh;
	margin: 0 auto;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border: none;
	border-radius: var(--common-border-radius);
	outline: none;
	cursor: pointer;
	transition: var(--common-transition);

	/* padding: 0.6em 1.2em;
	font-weight: 500;
	font-size: 1em;
	font-family: inherit;
	background-color: #1a1a1a;
	border: 1px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	transition: border-color 0.25s; */
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
