.modal {
	background-color: #1c1c21;
	width: 720px;
	height: 539px;
	position: absolute;
	top: 230px;
	left: 640px;
	border: 1px solid #4c4cff33;
	border-radius: 40px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.header {
	height: 64px;
	width: 640px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
