.page {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.main {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.form {
	position: absolute;
	top: 288px;
}
