.main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.home {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.pages {
	position: absolute;
	top: 288px;
}
