.cards {
	display: flex;
	flex-flow: row wrap;
	gap: 24px;
	cursor: pointer;
}
.card {
	width: 272px;
	height: 208px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	position: relative;
}
.item {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 4px;
}
.count {
	position: absolute;
	top: 0;
	right: 0;
}

.link {
	color: white;
}
